/*===========
 RESET
 ============ */

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.row {
    margin: 0;
}

/*===========
 GLOBAL
 ============ */


h2 {
    font-family: 'BioRhyme', serif;
}

ul,
li {
    list-style: none;
}



/*===========
 NAVBAR
 ============ */


.navbar {
    font-family: 'BioRhyme', serif;
}

.navbar-collapse a:hover {

    text-decoration: overline;
}

.navButton {
    background-color: #e66b7c;
    color: white;
    border: 2px solid transparent;
    transition: all .5s ease-in-out;
}

.navButton:hover {
    border: 2px solid white;
    background-color: #e66b7c;

}

.navButton > i {
    position: absolute;
    z-index: -1;
    top: 32%;
    right: 5%;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}

.navButton:hover > i {
    transform: translateX(-480%);
}

/*===========
 CAROUSEL
 ============ */
.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    margin: 0;
    padding: 0;
}

.carousel img {
    width: 100%;
    min-height: 65%;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
    z-index: 500;
}

.carousel-indicators {
    top: 5%;
}



.overlay {
    background-color: #8a2be2;
    opacity: .6;
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}




/* jumbotron down arrow */

.jumbotron .hvr-icon-down {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 6%;
    left: 48.5%;
    margin-top: 2rem;
    font-size: 4rem;
    z-index: 150;
}

@-webkit-keyframes hvr-icon-down {

    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@keyframes hvr-icon-down {

    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-down .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.hvr-icon-down:hover .hvr-icon {
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}



/* typing anim */

.type-anim {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
    margin: 0;
}

.anim-word {
    background-color: black;
    animation:
        type 1.2s steps(6),
        blink-caret .5s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .5rem;
    border-right: .3rem solid white;
}

.anim-word-short {
    background-color: black;
    animation:
        type-s 1.2s steps(5),
        blink-caret .5s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .5rem;
    margin-right: .4rem;
    border-right: .3rem solid white;
}


@keyframes type {
    from {
        width: 0ch;
    }

    to {
        width: 6.2ch;
    }
}

@keyframes type-s {
    from {
        width: 0ch;
    }

    to {
        width: 5ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}


/*===========
 ABOUT
 ============ */

.about {
    background-image: url(../images/code-1839406_1920_transparent.jpg);
    z-index: -1;
    min-height: 93vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about-title {
    padding-top: 2rem;
}

.about-intro {
    color: white;
    background-color: #343a40;
    padding: 7px;
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
}

.about a {
    color: black;
}

.about .row {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: block;


}

.about span {
    text-transform: capitalize;
}

.about i {
    font-size: 2rem;
    margin-left: 1rem;
}

.about h3 {
    font-family: 'BioRhyme', serif;
    padding-top: 50px;
}

/* accordian (small screen) */

#aboutAccordian {
    margin-left: 0;
    padding: 0;
    border: none;
}

.accordian .btn-link {
    text-decoration: none;
}

#headingOne {
    background-color: #FFF9AA;
}

#headingOne i {
    width: 50px;
    height: 50px;
    padding-left: 4px;
    padding-top: 6px;
    border-radius: 50%;
    background-color: #e6de6b;
}

#headingTwo {
background-color: #f4aaff;
}

#headingTwo i {
    width: 50px;
    height: 50px;
    padding-left: 1.8px;
    padding-top: 6px;
    border-radius: 50%;
    background-color: #d66be6;
}

#headingThree {
    background-color: #ffaab5;
}

#headingThree i {
    width: 50px;
    height: 50px;
    padding-left: 1.8px;
    padding-top: 8px;
    border-radius: 50%;
    background-color: #e66b7c;
}

#headingFour {
    background-color: #b5ffaa;
}

#headingFour i {
    width: 50px;
    height: 50px;
    padding-left: .5px;
    padding-top: 7px;
    border-radius: 50%;
    background-color: #7ce66b;
}

/* about section down arrow */
#about-d-arrow {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 105%;
    left: 48.5%;
    margin-top: 2rem;
    z-index: 150;
}

#about-d-arrow i {
    font-size: 4rem;
}

#about-d-arrow:hover .hvr-icon {
    color: rgb(0, 0, 0);
    transition: .3s;
}



/*===========
 TESTIMONIALS
 ============ */

.testimonials {
    background-image: url(../images/octor-love-transparency.png);
    z-index: -1;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.testimonials-title {
    padding-top: 5rem;
}

.testimonials-intro {
    color: white;
    background-color: #343a40;
    padding: 7px;
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
}

.question {
    font-weight: bold;
    color: darkslateblue;
}

.media {
    padding-top: 3rem;

}

.couple-1 img {
    border: 10px solid #98fb98;
}

.couple-1-name,
.couple-1-quote {
    background: rgba(152, 251, 152, 0.5);
}


.story-button-1 {
    background: rgba(152, 251, 152, 0.5);
    border: none;
    
}

.story-button-1:hover {
    background: rgba(152, 251, 152, 1);
    transition: 0.5s;
}

.story-button-1 + .fa-chevron-circle-left {
    transition: transform .5s ease-in-out;
}

.story-button-1:hover + .fa-chevron-circle-left {
    transform: rotate(45deg);
}

.couple-2 img {
    border: 10px solid #fb98fb;
}

.couple-2-name,
.couple-2-quote {
    background: rgba(251, 152, 251, 0.5);
}


.story-button-2 {
    background: rgba(251, 152, 251, 0.5);
    border: none;
}

.story-button-2:hover {
    background: rgba(251, 152, 251, 1);
    transition: 0.5s;
}

.couple-3 img {
    border: 10px solid #fbc998;
}

.couple-3-name,
.couple-3-quote {
    background: rgba(251, 201, 152, 0.5);
}

.story-button-3 {
    background: rgba(251, 201, 152, 0.5);
    border: none;
}

.story-button-3:hover {
    background: rgba(251, 201, 152, 1);
    transition: 0.5s;
}

/* button icon */
@-webkit-keyframes hvr-pulse-1 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-1 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-1;
    animation-name: hvr-pulse-1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pulse-2 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-2 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-2;
    animation-name: hvr-pulse-2;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pulse-3 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-3 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-3 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-3;
    animation-name: hvr-pulse-3;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* testimonial section down arrow */

#testimonials-d-arrow {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -206%;
    left: 48.5%;

    z-index: 150;
}

#testimonials-d-arrow i {
    font-size: 4rem;
}

#testimonials-d-arrow:hover .hvr-icon {
    color: rgb(0, 0, 0);
    transition: .3s;
}

/* testimonial collapse (small screen) */
#johnAndEllen .cardbody {
    border: 10px solid #98fb98;
    padding: 5px;
}

#susanAndGordon .cardbody {
    border: 10px solid #fb98fb;
    padding: 5px;
}

#dougAndMonte .cardbody {
    border: 10px solid #fbc998;
    padding: 5px;
}

/* testimonial modal (medium screen) */

#johnAndEllenModal .question {
    font-weight: normal;
    color: black;
    background-color: #98fb98;
}

.modal-header-1 {
    background-color: rgba(152, 251, 152, 0.5);
}

#susanAndGordonModal .question {
    font-weight: normal;
    color: black;
    background-color: #d8bfd8;
}

.modal-header-2 {
    background-color: rgba(251, 152, 251, 0.5);
}

#dougAndMonteModal .question {
    font-weight: normal;
    color: black;
    background-color: #fbc998;
}

.modal-header-3 {
    background-color: rgba(251, 201, 152, 0.5);
}

.answer .name {
    font-weight: bold;
    font-style: normal;

}

.answer {
    font-style: italic;
}

/*======================
 CONTRIBUTE and SIGN UP
 ======================= */

/* contribute section */
.contribute {
    text-align: center;
}

.contribute h3 {
    margin-top: 4rem;
}

.gitHeart {
    margin: 0 auto;
    opacity: .7;
}

.forkButtonWrapper {
    display: grid;
    grid-template-columns: [forkLeft] 25% [forkCenter] 50% [forkRight]25%;
    grid-template-rows: 1fr;
    grid-template-areas: "forkLeft forkCenter forkRight";
    
}

.forkButton {
    grid-area: forkCenter;
    top: 53%;
    left: 32%;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.forkButton:hover {
    border: 2px solid white;
}

.forkButton + i {
    font-size: 1.6rem;
    position: relative;
    grid-area: forkCenter;
    z-index: 0;
    top: 32%;
    left: 40%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

.forkButton:hover + i {
    transform: translateX(13%);
}

/* sign-up section */
.signup {
    min-height: 100vh;
    color: white;
    background-color: slategray;
}

#signup-section {
    margin-top: 2rem;
}

/* sign-up pointer */

@-webkit-keyframes hvr-icon-drop {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    51%,
    100% {
        opacity: 1;
    }
}

@keyframes hvr-icon-drop {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    51%,
    100% {
        opacity: 1;
    }
}

.hvr-icon-drop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-name: hvr-icon-drop;
    animation-name: hvr-icon-drop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    ;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;


}

.hvr-icon-drop .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-name: hvr-icon-drop;
    animation-name: hvr-icon-drop;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    ;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

/* sign-up faux text editor */

.windowOuter {
    padding-bottom: 1rem;
    background-color: rgb(28, 28, 28);
    -webkit-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
    box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);

}

.windowOuter .fa-times-circle {
    color: red;
    padding-left: 92%;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.windowInner {

    background-color: rgba(43, 43, 43, .7);
}

.windowNumbersLeft {
    display: none;
}

#codeWindow {
    width: 100%;
}

.signup span {
    text-transform: capitalize;

}

.signup h2 {
    color: black;
    padding-top: 3rem;

}


.signup form {
    padding-left: 1.5rem;
    padding-top: 2.5rem;

}

.form-group {
    margin-bottom: 5rem;
}

.form-group .tagBracket {
    color: slategray;
}

.form-group .tagText {
    color: slateblue;
}

.form-group .classTextOuter {
    color: cornflowerblue;
}

.form-group .classTextInner {
    color: lightsalmon;
}


.form-group input {
    width: 80%;
    height: 2rem;
    background-color: rgba(119, 136, 153, .1);
    color: lightblue;
    border: none;
    margin-bottom: .8rem;
    margin-top: .5rem;
}

.form-group input:focus {
    background-color: rgba(119, 136, 153, .4);
    color: white;
}

.form-group input::placeholder {
    color: lightblue;
}

.form-group span {
    text-transform: lowercase;
}

#emailHelp {
    color: rgb(103, 133, 53);
    font-size: 1.2rem;
}

.signButtonWrapper {
    display: grid;
    grid-template-columns: [signLeft] 25% [signCenter] 50% [signRight]25%;
    grid-template-rows: 1fr;
    grid-template-areas: "signLeft signCenter signRight";
    grid-template-rows: 1fr 1fr 1fr;
    top: 0;
    width: 100%;
}

.signup button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.signButton {
    grid-area: signCenter;
    border: 2px solid transparent;
    position: absolute;
    z-index: 1;
    left: 25%;
    bottom: 15%;
}

.signButton:hover {
    border: 2px solid white;
}

.signButton + i {
    grid-area: signCenter;
    position: relative;
    z-index: 0;
    top: 60%;
    left: 22%;
    border: 2px solid transparent;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.signButton:hover + i {
    transform: translateX(40%);
}



/*===========
 MEDIA QUERIES
 ============ */


@media (min-width: 576px) {
    .learnButton {
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
    }

    .learnButton:hover {
        border: 2px solid white;
    }
    
    .learnButton + i {
        color: white;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 75%;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .learnButton:hover + i {
        transform: translateX(560%);
    }

    .successButton {
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
    }

    .successButton:hover {
        border: 2px solid white;
    }

    .successButton + i {
        color: white;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 75%;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .successButton:hover + i {
        transform: translateX(440%);
    }

    .joinButton {
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    .joinButton:hover {
        border: 2px solid white;
    }

    .joinButton + i {
        color: white;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 75%;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .joinButton:hover + i {
        transform: translateX(290%);
    }

    .contribute {
        padding-top: 2.5rem;
    }

    .contribute h3 {
        margin-top: 5rem;
    }


}


/*medium screens  */
@media (min-width: 768px) {
    
    
    .carousel img {
        width: 100%;
        min-height: 65vh;
    }

    

    .media {
        /* padding-top: 10rem; */
    }

    .about {
        min-height: 80vh;
    }

    .about .row {
        display: flex;

    }

    .about-title {
        /* padding: 5rem 0; */
    }

    .flip-card {
        background-color: transparent;
        margin: 5px;
        min-height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        -webkit-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
        box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .card-front-1 {
        background-color: #FFF9AA;
        color: black;
    }

    .card-front-1 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #e6de6b;
        margin-top: 3rem;
    }

    .card-back-1 {
        background-color: #ccc788;
    }

    .card-front-2 {
        background-color: #f4aaff;
    }

    .card-front-2 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #d66be6;
        margin-top: 3rem;
    }

    .card-back-2 {
        background-color: #d66be6;
    }

    .card-front-3 {
        background-color: #ffaab5;
    }

    .card-front-3 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #e66b7c;
        margin-top: 3rem;
    }

    .card-back-3 {
        background-color: #e66b7c;
    }

    .card-front-4 {
        background-color: #b5ffaa;
    }

    .card-front-4 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #7ce66b;
        margin-top: 3rem;
    }

    .card-back-4 {
        background-color: #7ce66b;
    }


    .flip-card-back {
        transform: rotateY(180deg);
    }

    .card-text {
        padding: 75px 8px;
        font-family: "Ubuntu Mono", monospace;
        font-size: 1.2rem;
    }

    .card-back-2 .card-text,
    .card-back-3 .card-text {
        color: white;
    }

    .testimonials {
        min-height: 80vh;
    }

    .signup {
        padding-top: 2rem;
    }

    .windowOuter .fa-times-circle {
        padding-left: 92%;
    }

    .signup form {
        padding-left: 1.5rem;
        padding-top: 4.5rem;

    }

    label[for="exampleInputPassword1"] {
        margin-top: 3rem;

    }

    
}

/* large screens */
@media (min-width: 1024px) {

    .carousel img {
        width: 100%;
        height: 100vh;
    }

    .type-anim {
        font-size: 2.5rem;
    }

    .about {
        min-height: 100vh;
    }

    .about .row {
        padding-top: 2rem;
    }

    #about-d-arrow {
        top: 100%;
    }

    .media {
        padding-top: 8rem;
    }

    .testimonials {
        min-height: 100vh;
    }

    .testimonials-title {
        padding-top: 3.5rem;
    }

}

/* x-large screens */
@media (min-width: 1260px) {

    .media {
        padding-top: 10rem;
    }

    #about-d-arrow {
        top: 125%;
    }

    .story-button-1,
    .couple-1 i,
    .story-button-2,
    .couple-2 i,
    .story-button-3,
    .couple-3 i {
        margin-top: 4rem;
    }

    .windowNumbersLeft {
        display: block;
    }

}