/*===========
 RESET
 ============ */

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.row {
    margin: 0;
}

/*===========
 GLOBAL
 ============ */


h2 {
    font-family: 'BioRhyme', serif;
}

ul,
li {
    list-style: none;
}

.btn {
    color: white;
}

.btn:hover {
    color: white;
}


/*===========
 NAVBAR
 ============ */


.navbar {
    font-family: 'BioRhyme', serif;
}

.navbar-collapse a:hover {
    text-decoration: overline;
}

/* member login button */
.navButtonWrapper {
    display: grid;
    position: absolute;
    top: 15%;
    right: 1%;
    grid-template-columns: 180px;
    grid-template-rows: 1fr;
    grid-template-areas: "navButtonGrid";
}

.navButton {
    background-color: #e66b7c;
    grid-area: "navButtonGrid";
    color: white;
    border: 2px solid transparent;
    transition: all .5s ease-in-out;
}

.navButton:hover {
    border: 2px solid white;
    background-color: #e66b7c;

}

.navButton>i {
    position: absolute;
    grid-area: "navButtonGrid";
    z-index: -1;
    top: 30%;
    right: 55%;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}

.navButton:hover>i {
    transform: translateX(-405%);
}

/*===========
 CAROUSEL
 ============ */
.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    margin: 0;
    padding: 0;
}

.carousel img {
    width: 100%;
    min-height: 65%;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
    z-index: 500;
}

.carousel-indicators {
    top: 5%;
}

.overlay {
    background-color: #8a2be2;
    opacity: .6;
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* typing animation */

.type-anim {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
    margin: 0;
}

.anim-word {
    background-color: black;
    animation:
        type 1.2s steps(6),
        blink-caret .5s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .5rem;
    border-right: .3rem solid white;
}

.anim-word-short {
    background-color: black;
    animation:
        type-s 1.2s steps(5),
        blink-caret .5s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .5rem;
    margin-right: .4rem;
    border-right: .3rem solid white;
}


@keyframes type {
    from {
        width: 0ch;
    }

    to {
        width: 6.2ch;
    }
}

@keyframes type-s {
    from {
        width: 0ch;
    }

    to {
        width: 5ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

/* jumbotron down icon (hide on xs-med screen) */

.jumbotronDownIcon,
.jumbotronDownIcon i {
    display: none;
}


/*===========
 ABOUT
 ============ */

.about {
    background-image: url(../images/code-1839406_1920_transparent.jpg);
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about-title {
    padding-top: 2rem;
}

.about-intro {
    color: white;
    background-color: #343a40;
    padding: 7px;
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
}

.about .row {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: block;
}

.about span {
    text-transform: capitalize;
}

.about h3 {
    font-family: 'BioRhyme', serif;
    padding-top: 50px;
}

/* accordion (small screen) */

.card {
    margin-left: 0;
    padding: 0;
    border: none;
}

.card .btn {
    color: black;
    background-color: transparent;
}


#aboutAccordion .card-header h2 {
    font-size: 1.5rem;
}

#aboutAccordion .card-header i {
    font-size: 2rem;
}

.card-header [type=button] {
    -webkit-appearance: initial;
}

.card-header h2 {
    display: grid;
    width: 100%;
    grid-template-columns: [accordionHeadLeft] 70% [accordionHeadCenter] 1fr [accordionHeadRight] 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "accordionHeadLeft accordionHeadCenter accordionHeadRight";
}

.card-header h2 p {
    grid-area: accordionHeadLeft;
    margin: auto 0;
}

.card-header h2 i {
    grid-area: accordionHeadRight;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.accordion {
    border: none;
}

.accordion .btn-link {
    text-decoration: none;
    color: black;
}

#headingOne {
    background-color: rgb(226, 221, 149);
}

#headingOne i {
    padding-left: 4px;
    padding-top: 6px;
    background-color: #a8a242;

}

#headingTwo {
    background-color: #f4aaff;
}

#headingTwo i {
    padding-top: 6px;
    background-color: #b751c7;
}

#headingThree {
    background-color: #ffaab5;
}

#headingThree i {

    padding-top: 8px;
    background-color: #c5505f;
}

#headingFour {
    background-color: #b5ffaa;
}

#headinFour h2 p {}

#headingFour i {
    padding-top: 7px;
    background-color: #48993c;

}

/* flip-cards (large screens) */

.about .flip-card .fas,
.about .flip-card .fab {
    font-size: 2rem;
    margin-left: 1rem;
}

.flip-card {
    display: none;
}

/* about down icon (hide on xs-med screen) */

.aboutDownIcon,
.aboutDownIcon i {
    display: none;
}


/*===========
 TESTIMONIALS
 ============ */

.testimonials-body {
    position: relative;
    
    
    
}

.testimonials {
    background-image: url(../images/octor-love-transparency.png);
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-bottom: 2rem;
}

.testimonials-title {
    padding-top: 5rem;
}

.testimonials-intro {
    color: white;
    background-color: #343a40;
    padding: 7px;
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
}

.question {
    font-weight: bold;
    color: darkslateblue;
}

.media {
    padding-top: 3rem;

}

.couple-1 img {
    border: 10px solid #98fb98;
}

.couple-1-name,
.couple-1-quote {
    background: rgba(152, 251, 152, 0.7);
}

.story-button-1,
.story-button-1:hover,
.story-button-2,
.story-button-2:hover,
.story-button-3,
.story-button-3:hover {
    color: black;
}

.story-button-1 {
    background: rgba(152, 251, 152, 0.7);
    border: none;
    border: 2px solid transparent;

}

.story-button-1:hover {
    background: rgba(152, 251, 152, 1);
    transition: 0.5s;
    border: 2px solid black;
}

.story-button-1+.fa-chevron-circle-left {
    transition: transform .5s ease-in-out;
}

.story-button-1:hover+.fa-chevron-circle-left {
    transform: rotate(45deg);
}

.couple-2 img {
    border: 10px solid #fb98fb;
}

.couple-2-name,
.couple-2-quote {
    background: rgba(251, 152, 251, 0.7);
}


.story-button-2 {
    background: rgba(251, 152, 251, 0.7);
    border: none;
    border: 2px solid transparent;
}

.story-button-2:hover {
    background: rgba(251, 152, 251, 1);
    transition: 0.5s;
    border: 2px solid black;
}

.couple-3 img {
    border: 10px solid #fbc998;
}

.couple-3-name,
.couple-3-quote {
    background: rgba(251, 201, 152, 0.7);
}

.story-button-3 {
    background: rgba(251, 201, 152, 0.7);
    border: 2px solid transparent;
}

.story-button-3:hover {
    background: rgba(251, 201, 152, 1);
    transition: 0.5s;
    border: 2px solid black;
}

/* throbbing chevron */
@-webkit-keyframes hvr-pulse-1 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-1 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-1;
    animation-name: hvr-pulse-1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pulse-2 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-2 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-2;
    animation-name: hvr-pulse-2;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pulse-3 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-3 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-3 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-3;
    animation-name: hvr-pulse-3;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* testimonial collapse (small screen) */
#johnAndEllen .cardbody {
    border: 10px solid #98fb98;
    padding: 5px;
}

#susanAndGordon .cardbody {
    border: 10px solid #fb98fb;
    padding: 5px;
}

#dougAndMonte .cardbody {
    border: 10px solid #fbc998;
    padding: 5px;
}

/* testimonial modal (medium screen) */

#johnAndEllenModal .question {
    font-weight: normal;
    color: black;
    background-color: #98fb98;
}

.modal-header-1 {
    background-color: rgba(152, 251, 152, 0.5);
}

#susanAndGordonModal .question {
    font-weight: normal;
    color: black;
    background-color: #d8bfd8;
}

.modal-header-2 {
    background-color: rgba(251, 152, 251, 0.5);
}

#dougAndMonteModal .question {
    font-weight: normal;
    color: black;
    background-color: #fbc998;
}

.modal-header-3 {
    background-color: rgba(251, 201, 152, 0.5);
}

.answer .name {
    font-weight: bold;
    font-style: normal;

}

.answer {
    font-style: italic;
}

/* testimonials down icon (hide on xs-med screen) */

.testimonialsDownIcon,
.testimonialsDownIcon i {
    display: none;
}

/*======================
 CONTRIBUTE and SIGN UP
 ======================= */

/* contribute section */
.contribute {
    text-align: center;
}

.contribute h3 {
    margin-top: 4rem;
}

.gitHeart {
    margin: 0 auto;
    opacity: .7;
}

.forkButtonWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: [forkLeft] 1fr [forkCenter] 150px [forkRight] 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "forkLeft forkCenter forkRight";

}

.forkButton {
    grid-area: forkCenter;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    color: black;
}

.forkButton:hover {
    border: 2px solid white;
    color: black;
}

.forkButton+i {
    font-size: 1.6rem;
    position: relative;
    grid-area: forkCenter;
    z-index: 0;
    top: 33%;
    left: 40%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

.forkButton:hover+i {
    transform: translateX(15%);
}

/* sign-up section */
.signup {

    color: white;
    background-color: slategray;
}

#signup-section {
    margin-top: 2rem;
}

/* sign-up code window */

.windowOuter {
    padding-bottom: 1rem;
    background-color: rgb(28, 28, 28);
    -webkit-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
    box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);

}

.windowOuter .fa-times-circle {
    color: red;
    padding-left: 92%;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.windowInner {

    background-color: rgba(43, 43, 43, .7);
}

.windowNumbersLeft {
    display: none;
}

#codeWindow {
    width: 100%;
}

.signup span {
    text-transform: capitalize;

}

.signup h2 {
    color: black;
}


.signup form {
    padding-left: 1.5rem;
    padding-top: 2.5rem;

}

.form-group {
    margin-bottom: 2rem;
}

.form-group .tagBracket {
    color: slategray;
}

.form-group .tagText {
    color: slateblue;
}

.form-group .classTextOuter {
    color: cornflowerblue;
}

.form-group .classTextInner {
    color: lightsalmon;
}


.form-group input {
    width: 80%;
    height: 2rem;
    background-color: rgba(119, 136, 153, .1);
    color: lightblue;
    border: none;
    margin-bottom: .8rem;
    margin-top: .5rem;
}

.form-group input:focus {
    background-color: rgba(119, 136, 153, .4);
    color: white;
}

.form-group input::placeholder {
    color: lightblue;
}

.form-group span {
    text-transform: lowercase;
}

#emailHelp {
    color: rgb(103, 133, 53);
    font-size: 1.2rem;
}

.signup button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.signButtonWrapper {
    display: grid;
    grid-template-columns: [signLeft] 1fr [signCenter] 150px [signRight] 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "signLeft signCenter signRight";
    width: 100%;
}

.signButton {
    grid-area: signCenter;
    top: 53%;
    left: 30%;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.signButton:hover {
    border: 2px solid white;
}

.signButton+i {
    font-size: 1.2rem;
    position: relative;
    grid-area: signCenter;
    z-index: 0;
    top: 34%;
    left: 45%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

.signButton:hover+i {
    transform: translateX(54%);
}



/*===========
 MEDIA QUERIES
 ============ */


@media (min-width: 576px) {


    .learnButton {
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
        z-index: 1;
        margin: 0 auto;
    }

    .learnButton:hover {
        border: 2px solid white;
    }

    .learnButton+i {
        color: white;
        text-decoration: none;
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 62%;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .learnButton:hover+i {
        transform: translateX(564%);
    }

    .successButton {
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
    }

    .successButton:hover {
        border: 2px solid white;
    }

    .successButton+i {
        color: white;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 62%;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .successButton:hover+i {
        transform: translateX(442%);
    }

    .joinButton {
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    .joinButton:hover {
        border: 2px solid white;
    }

    .joinButton+i {
        color: white;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 62%;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .joinButton:hover+i {
        transform: translateX(292%);
    }

    .contribute {
        padding-top: 2.5rem;
    }

    .contribute h3 {
        margin-top: 5rem;
    }



}


/*medium screens  */
@media (min-width: 768px) {


    .carousel img {
        width: 100%;
        min-height: 65vh;
    }

    .learnButton+i {
        top: 72%;
    }

    .successButton+i {
        top: 72%;
    }

    .joinButton+i {
        top: 72%;
    }

    .about {
        min-height: 80vh;
    }

    .about .row {
        display: flex;
    }

    .about-body {
        padding-top: 10%;
    }

    .flip-card-3,
    .flip-card-4 {
        display: block;
    }

    .flip-card {
        background-color: transparent;
        margin: 5px;
        min-height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        -webkit-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
        box-shadow: 7px 6px 12px 1px rgba(0, 0, 0, 0.52);
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .card-front-1 {
        background-color: #FFF9AA;
        color: black;
    }

    .card-front-1 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #a8a242;
        color: white;
        margin-top: 3rem;
    }

    .card-back-1 {
        background-color: #a8a242;
    }

    .card-front-2 {
        background-color: #f4aaff;
    }

    .card-front-2 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #b751c7;
        color: white;
        margin-top: 3rem;
    }

    .card-back-2 {
        background-color: #b751c7;
    }

    .card-front-3 {
        background-color: #ffaab5;
    }

    .card-front-3 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #c5505f;
        color: white;
        margin-top: 3rem;
    }

    .card-back-3 {
        background-color: #c5505f;
    }

    .card-front-4 {
        background-color: #b5ffaa;
    }

    .card-front-4 i {
        width: 60px;
        height: 60px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: #5ec54e;
        color: white;
        margin-top: 3rem;
    }

    .card-back-4 {
        background-color: #5ec54e;
    }


    .flip-card-back {
        transform: rotateY(180deg);
    }

    .card-text {
        padding: 75px 8px;
        font-family: "Ubuntu Mono", monospace;
        font-size: 1.2rem;
    }

    .card-back-2 .card-text,
    .card-back-3 .card-text {
        color: white;
    }

    .testimonials {
        padding-bottom: 3rem;
    }

    .signup {
        padding-top: 2rem;
    }

    .windowOuter .fa-times-circle {
        padding-left: 92%;
    }

    .signup form {
        padding-left: 1.5rem;
        padding-top: 4.5rem;

    }

    label[for="exampleInputPassword1"] {
        margin-top: 3rem;

    }
}

@media (min-width: 990px) {
    .flip-card-2 {
        display: block;
    }

    .flip-card {
        padding-left: 1.2rem;
    }
}



/* large screens */
@media (min-width: 1024px) {

    .carousel img {
        width: 100%;
        min-height: 100vh;
    }

    .type-anim {
        font-size: 2.5rem;
    }

    .learnButton+i {
        top: 75%;
    }

    .successButton+i {
        top: 75%;
    }

    .joinButton+i {
        top: 75%;
    }

    .jumbotronDownIcon i {
        display: inline;

    }

    .jumbotronDownIcon {
        display: inline;
        cursor: pointer;
        font-size: 5rem;
        color: white;
        position: absolute;
        top: 80%;
        left: 49%;
        z-index: 500;
        animation: iconBob 0.5s ease-in-out;
        animation-iteration-count: infinite;
        opacity: .5;
        transition: opacity .2s ease-in-out;
    }

    @keyframes iconBob {
        0% {
            transform: translateY(0)
        }

        50% {
            transform: translateY(5px);
        }

        100% {
            transform: translateY(0);
        }

    }

    .jumbotronDownIcon:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

    .about {
        min-height: 100vh;
    }

    .about-title h2 {
        padding-top: 2rem;
    }

    .flip-card {
        padding-left: 0;
    }

    .about .row .about-body {
        padding-top: 20%;
    }

    .aboutDownIconWrapper {
        position: relative;
        width: 100%;
    }

    .aboutDownIcon i {
        display: inline;
    }

    .aboutDownIcon {
        display: inline;
        cursor: pointer;
        font-size: 5rem !important;
        color: black;
        position: absolute;
        margin-top: 26%;
        z-index: 500;
        animation: iconBob 0.5s ease-in-out;
        animation-iteration-count: infinite;
        opacity: .5;
        transition: opacity .2s ease-in-out;
    }

    .aboutDownIcon:hover {
        color: black;
        opacity: 1;
        text-decoration: none;
    }

    .media {
        padding-top: 8rem;
    }

    .testimonials {
        min-height: 100vh;
    }

    .testimonials-title {
        padding-top: 3.5rem;
    }

    .testimonialsDownIconWrapper {
        display: inline;
        position: relative;
        width: 100%;
        height: 100px;        
    }

    .testimonialsDownIcon i {
        display: inline;
    }

    .testimonialsDownIcon {
        display: inline;
        cursor: pointer;
        -webkit-cursor: pointer;
        -moz-cursor: pointer;
        font-size: 5rem;
        color: black;
        position: absolute;
        top: 320%;
        left: 50%;
        
        
        z-index: 500;
        animation: iconBob 0.5s ease-in-out;
        animation-iteration-count: infinite;
        opacity: .6;
        transition: opacity .2s ease-in-out;
    }

    .testimonialsDownIcon:hover {
        color: black;
        opacity: 1;
        text-decoration: none;
    }

    .contribute h3 {
        margin-top: 2.5rem;
    }

    .forkButtonWrapper {
        margin-top: 4rem;
    }

    .signButtonWrapper {
        margin-left: -1.5rem;
    }

    .windowOuter {
        margin-top: 2.5rem;
    }

    .windowInner .row {
        padding-bottom: 2.5rem;
    }

    .signup {
        min-height: 100vh;
    }

    .signup form {
        padding-left: 1.5rem;
        padding-top: 2.5rem;
    }

    label[for="exampleInputPassword1"] {
        margin-top: 1.8rem;
    }

}

@media (min-width: 1132px) and (min-height: 1000px) {
    .testimonialsDownIcon {
        top: 350%;
    }
}

@media (min-width: 1144px) and (min-height: 1000px) {
    .testimonialsDownIcon {
        top: 380%;
    }
}

@media (min-width: 1200px) and (min-height: 760px) {

    .aboutDownIcon {
        margin-top: 19rem;
    }
    
    /*  .testimonialsDownIcon {
        margin-top: 38%;
    } */
}

/* x-large screens */
@media (min-width: 1260px) and (min-height: 1000px; ) {

    .media {
        padding-top: 10rem;
    }

    .story-button-1,
    .couple-1 i,
    .story-button-2,
    .couple-2 i,
    .story-button-3,
    .couple-3 i {
        margin-top: 4rem;
    }


    .windowNumbersLeft {
        display: block;
    }

}

@media (min-width: 1276px) and (min-height: 1000px) {
    .testimonialsDownIcon {
        top: 415%;
    }
}

@media (min-width: 1310px) {

    .flip-card {
        padding-left: 1.2rem;
    }

    .flip-card-1 {
        display: block;
    }
}

@media (min-width: 1594px) and (min-height: 1000px) {
    .testimonialsDownIcon {
        top: 445%;
    }
}